<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Shoe Size Predictor App</title>
  <link rel="stylesheet" href="static/final.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-light" style="background-color: #003f5c;">
    <a class="navbar-brand" href="/">
      <h4><span class="highlight">Shoe Size predictor App</span></h4>
    </a>
     <a> 
    <!-- <img src="" alt="hypepperameter" id="logo"> -->
    <!-- <h3>Shoe Size predictor</h3> -->
    </a>
  </nav>
  <section class="main-splash">


    <div class="container" id="texts" style="text-align:center">
      <div class="my-7">
        <!-- <section class="main-splash"> -->
        <!-- <div> -->
        <!-- <h1> Shoe Size predictor</h1> -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="text-align:center"> Thank you for trying Out our predictor</h1>
        <br>
        <br>
        <br>
        <br>
        <br>  
        <h2> Make a New <a href='\'  class="btn btn-primary " id="btn" > Prediction</a></h2>  
        <img src="https://media.giphy.com/media/l0MYJnJQ4EiYLxvQ4/giphy.gif" width="350">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


      </div>
    </div>
  </section>
  <!-- <small class = 'one'> Please note that this is an improvement model that has an accuracy score of 70% so if we are not able to predict your gender correctly, let us know </small> -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
       
       
       
       
    