<!doctype html>
<html>
    <style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Shoe Size Predictor App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
  <link rel="stylesheet" href="./styles/get-data.css">
</head>     
   <body>      
    <nav class="navbar navbar-light" style="background-color: #003f5c;">
    <a class="navbar-brand" href="#">
      <h4><span class="highlight">Shoe Size Predictor App</span></h4>
    </a>
    <a>    
    <!-- <img src="" alt="hypepperameter" id="logo"> -->
    <!-- <h3>Shoe Size Predictor</h3> -->
    </a>
  </nav>
  <section class="main-splash"> 
    <div class="container" id="texts", style="text-align:center">
      <div class="my-7">
        <!-- <section class="main-splash"> -->
        <!-- <div> -->
        <!-- <h1>Shoe Size Predictor</h1> -->
        <br>
        <br>
        <br>
        <br>
          <h2 style="text-align:center" >Oops, we are sorry we got that wrong </h2>
          <br>
           <h2 style="text-align:center" > We would like you to Help us improve this Model</h2>
        <br>
        <br>
        <img style="text-align:center" src="https://media.giphy.com/media/TKM6SzowRHXBP97Iok/giphy.gif" width="280">  
        <br>
        <br>
        <br>
        <h2 style="text-align:center" > Could you tell us the right answers</h2>
       <div>
       <br>
       <br>
           
  <form class="needs-validated" action="/final" method="post">
    <label for="height">height(cm)</label>
    <input type="number" id="height" name="height" required="required">
    <br>
    <br> 
    <label for="shoe_size">shoe_size(EU)</label>
    <input type="number" id="shoe_size" name="shoe_size" required="required">
    <br>
    <br>
    <label for="sex_no">Sex</label>
    <select id="sex_no" name="sex_no" required="required">
      <option value="1">Male</option>
      <option value="2">Female</option>
    </select>
    <br>
    <br>  
    <input type="submit" value="Submit" class="btn btn-primary " id="btn">
  </form>
</div>
        </div>
      </div>
      <br>
        <br>
        <br>
        <br>
</section> 
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>      
</body>
</html>