<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Shoe Size Predictor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
  <link rel="stylesheet" href="./styles/home.css">
</head> 
  <body>
      
    <nav class="navbar navbar-light" style="background-color: #003f5c;">
    <a class="navbar-brand" href="#">
      <h4><span class="highlight">Shoe Size Predictor</span></h4>
    </a>
    <a>    
    <!-- <img src="" alt="hypepperameter" id="logo"> -->
    <!-- <h3>Shoe Size Predictor App</h3> -->
    </a>
  </nav>
  <section class="main-splash">
    <div class="container" id="texts">
      <div class="my-7">
        <!-- <section class="main-splash"> -->
        <!-- <div> -->
        <!-- <h1>Shoe Size predictor</h1> -->
        <br>
        <br>
        <br>
        <br>
        <h2> We would like to predict your Shoe Size based on Your Height and Sex</h2>
        <br>
        <br>  
        <p> Please Fill the form below and submit </p>
      
      
<div>
  <form action="/result" method="post">
    <label for="height">height(cm)</label>
    <input type="number" id="height" name="height" required="required">
    <br>
    <br>
    <br>
    <br>  
    <label for="sex_no">Sex</label>
    <select id="sex_no" name="sex_no" required="required">
      <option value="1">Male</option>
      <option value="2">Female</option>
    </select>
    <br>
      <br>
      <br>
    <input type="submit" value="Submit" class="btn btn-primary " id="btn">
  </form>
</div>
        </div>
      </div>
      <br>
        <br>
        <br>
        <br>
</section> 
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>      
</body>
</html>