<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tokunbo: Car Predict</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Maxim - v2.2.0
  * Template URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            // https://dashboard.emailjs.com/admin/integration
            emailjs.init('user_9HKXOW4r35QUZMoQRaWI8');
        })();
    </script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <a href="#hero"><img src="../static/img/tokunbo2.jpeg" alt="" class="img-fluid"></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#hero">Home</a></li>
          <li><a href="#predict">Predict</a></li>
          <li><a href="#marketplace">MarketPlace</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Feed Back</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to Tokunbo</h1>
      <h2>I can provide an estimate for the selling price of your foreign and nigerian used car </h2>
      <a href="#predict" class="btn-get-started scrollto">Input your car Details</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Predict Section ======= -->
    <section id="predict" class="about">
      <div class="container">


        <div class="row">
          <div class="col-xl-6 col-lg-7" data-aos="fade-right">
            <img src="../static/img/cars-4-2.jpg" class="img-fluid imgs" alt="">

          </div>
          <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Love Cars? Me too</h3>
            <p data-aos="fade-up">
              Please provide your car details below and I will return with cost Estimate.
            </p>
              
<form action="/result " method='post' id="predict-form" >
    <hr>
    <div class = "labelContainer">
    <label for="Millage"><b>Millage </b></label>
    
    <input type="number" placeholder="Millage" name="Millage" id="Millage" required="required">
        
        &nbsp;&nbsp;
    
        <label for="History"><b>History</b></label>
    
    
       <select id="History" name="History" required="required">
      <option value="foreign">foreign</option>
      <option value="local">local</option>
    </select>
        
        </div><br>
                

        <div class = "labelContainer">
    <label for="Model-Year"><b>Model-Year</b></label>
    
    <input type="year" placeholder="Model-Year" name="Model-Year" id="Model-Year" required="required">
            
            &nbsp;&nbsp;
    
        <label for="Transmission"><b>Transmission</b></label>
    
    
       <select id="Transmission" name="Transmission" required="required">
      <option value="automatic">automatic</option>
      <option value="manual">manual</option>
    </select>
        
        </div><br>
                
                
    <div class = "labelContainer">
    <label for="Make"><b>Make</b></label>
    
       <select id="Make" name="Make" required="required">
      <option value="Toyota">Toyota</option>
      <option value="Honda">Honda</option>
      <option value="Hyundai">Hyundai</option>
      <option value="Nissan">Nissan</option>
      <option value="Lexus">Lexus</option>
      <option value="Kia">Kia</option>
      <option value="Ford">Ford</option>
      <option value="BMW">BMW</option>
      <option value="Mercedes-Benz">Mercedes-Benz</option>
      <option value="GMC">GMC</option>
      <option value="Acura">Acura</option>
      <option value="Volkswagen">Volkswagen</option>
      <option value="Chrysler">Chrysler</option>
      <option value="GAC">GAC</option>
      <option value="Mitsubishi">Mitsubishi</option>
      <option value="Volvo">Volvo</option>
      <option value="Infiniti">Infiniti</option>
      <option value="Audi">Audi</option>
      <option value="Chevrolet">Chevrolet</option>
      <option value="Mazda">Mazda</option>
      <option value="Pontiac">Pontiac</option>
      <option value="Peugeot">Peugeot</option>
      <option value="Dodge">Dodge</option>
      <option value="Jaguar">Jaguar</option>
      <option value="Subaru">Subaru</option>
      <option value="Cadillac">Cadillac</option>
      <option value="Porsche">Porsche</option>
      <option value="Renault">Renault</option>
      <option value="Suzuki">Suzuki</option>
      <option value="Isuzu">Isuzu</option>
      <option value="Rio">Rio</option>
      <option value="Skoda">Skoda</option>
      <option value="Innoson">Innoson</option>
      <option value="Landrover">Landrover</option>
      <option value="Citroen">Citroen</option>
    </select>
        
        &nbsp;&nbsp;
    
        <label for="Model"><b>Model</b></label>
    
    
       <select id="Model" name="Model" required="required">
      <option value="Accord">Accord</option>
      <option value="Corolla">Corolla</option>
      <option value="Azera">Azera</option>
      <option value="Venza">Venza</option>
      <option value="Avensis">Avensis</option>
      <option value="Camry">Camry</option>
      <option value="Pilot">Pilot</option>
      <option value="Highlander">Highlander</option>
      <option value="Sonata">Sonata</option>
      <option value="Altima">Altima</option>
      <option value="4-Runner">4-Runner</option>
      <option value="Murano">Murano</option>
      <option value="Maxima">Maxima</option>
      <option value="Sienna">Sienna</option>
      <option value="Edge">Edge</option>
      <option value="Avalon">Avalon</option>
      <option value="RX 350">RX 350</option>
      <option value="Picanto">Picanto</option>
      <option value="G class">G class</option>
      <option value="Prius">Prius</option>
      <option value="Pathfinder">Pathfinder</option>
      <option value="Coaster">Coaster</option>
      <option value="Avensis">Avensis</option>
      <option value="Lancer">Lancer</option>
      <option value="E350">E350</option>
      <option value="Fusion">Fusion</option>
      <option value="T5 Transporter">T5 Transporter</option>
      <option value="Cabstar">Cabstar</option>
      <option value="Navigator">Navigator</option>
      <option value="Spectra">Spectra</option>
      <option value="Grand Cherokee">Grand Cherokee</option>
      <option value="Tundra">Tundra</option>
      <option value="Tucson">Tucson</option> 
      <option value="Civic">Civic</option>
      <option value="Sentra">Sentra</option>
      <option value="Elantra">Elantra</option>
    </select>
        
        </div><br>
                
                
    <div class = "labelContainer">


      <label for="Ratings" ><b class="eval">
        <p class="rating-note">
        <b> Note: </b><br>
        1 -- Car in excellent condition. <br>
        2 -- Car in very good condition with minor wear and tear. <br>
        3 -- Car in good condition with slight wear and tear, may need repairs and refurbishment. <br>
        4 -- Car in average condition with wear and tear, DEFINITELY needs repair and refurbishment. <br>
        5 -- Car with major wear and tear, needs repair and refurbishment. <br>
        
        </p>
        
        Ratings:</b></label>

    
    <input type="number" placeholder="Ratings" name="Ratings" id="Ratings" required="required" min="1" max="5">
        
        &nbsp;&nbsp;
    
        <label for="City"><b>City</b></label>
    
    
       <select id="City" name="City" required="required">
      <option value="Abia">Abia</option>
      <option value="Accra">Accra</option>
      <option value="Lagos">Lagos</option>
      <option value="Ogun">Ogun</option>
      <option value="Abuja">Abuja</option>
      <option value="Rivers">Rivers</option>
      <option value="Ibadan">Ibadan</option>
      <option value="Osun">Osun</option>
      <option value="Kaduna">Kaduna</option>
      <option value="Kwara">Kwara</option>
      <option value="Enugu">Enugu</option>
      <option value="Imo">Imo</option>
      <option value="Cross-river">Cross-river</option>
      <option value="Anambra">Anambra</option>
      <option value="Delta">Delta</option>
      <option value="Edo">Edo</option>
      <option value="Oyo">Oyo</option>
      <option value="Port Harcourt">Port Harcourt</option>
      <option value="Owerri">Owerri</option>
      <option value="Ilorin">Ilorin</option>
      <option value="Benin">Benin</option>
      <option value="Asaba">Asaba</option>
      <option value="Onitsha">Onitsha</option>
      <option value="Kano">Kano</option>
    </select>
        
        </div><br>
            
    

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn" id="btn">Submit</button>
    </div>
</form>

          </div>
        </div>

      </div>
    </section><!-- End Predict Section -->

    <!-- ======= Result Section ======= -->
    <section id="result" class="about">
      <div class="container">

        <div class="row">

          <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
            <h3 data-aos="fade-up" style="text-align: center;">Here is my prediction</h3>
            <p data-aos="fade-up" style="text-align: center;">
              We predict the cost of the car to be </p>
              
              <h4 style="color: #1bac91; text-align: center;">₦ {{prediction}}</h4>
            
              
        <!---<img src="https://media.giphy.com/media/l0MYJnJQ4EiYLxvQ4/giphy.gif" width="350">-->
              


          </div>
            
        <div class="col-xl-6 col-lg-7" data-aos="fade-right">


            <img src="../static/img/ford-mustang.png" class="img-fluid" alt="">

          </div>
        </div>
          

      </div>
    </section><!-- End Result Section -->


    <!-- ======= MarketPlace Section ======= -->
    <section id="marketplace" class="portfolio section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>MarketPlace</h2>
          <p>Here are some cars. Please have a look around, you might find something interesting</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/marketplace/innoson-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>2020 Innoson IVM G20</h4>
                <p>₦ 6,770,000</p>
                <div class="portfolio-links">
                  <a href="../static/img/marketplace/innoson-1.jpg" data-gall="portfolioGallery" class="venobox" title="Innoson-1"><i class="bx bx-plus"></i></a>
                  <a href="https://buy.cars45.com/innoson-ivm-g20-smart-2020-manual-ng-615531" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../static/img/marketplace/camry-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>2014 Toyota Corolla</h4>
                <p>₦ 5,565,000</p>
                <div class="portfolio-links">
                  <a href="../static/img/marketplace/camry-1.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="https://buy.cars45.com/cars/toyota-corolla-2014-ng-716527?filter=73%2C770" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/marketplace/GAC-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>2016 GAC GA3-S</h4>
                <p>₦ 2,270,000</p>
                <div class="portfolio-links">
                  <a href="../static/img/marketplace/GAC-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="https://buy.cars45.com/gac-ga3-s-2016-automatic-ng-618991" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/marketplace/lexus-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>2010 Lexus Es</h4>
                <p>₦ 4,490,000</p>
                <div class="portfolio-links">
                  <a href="../static/img/marketplace/lexus-2.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="https://buy.cars45.com/cars/lexus-es-2010-automatic-ng-716609?filter=1872" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../static/img/marketplace/kia-cars45.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>2017 Kia Rio</h4>
                <p>₦ 3,395,000</p>
                <div class="portfolio-links">
                  <a href="../static/img/marketplace/kia-cars45.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="https://buy.cars45.com/kia-rio-2017-automatic-ng-628938" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
../
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/img/marketplace/Nissan-versa cars45.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>2007 Nissan Versa</h4>
                <p>₦ 1,275,000</p>
                <div class="portfolio-links">
                  <a href="../static/img/marketplace/Nissan-versa cars45.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="https://buy.cars45.com/nissan-versa-2007-automatic-ng-557756" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/marketplace/jeep-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jeep Grand Cherokee Premium Brand</h4>
                <p>₦ 31,500,000</p>
                <div class="portfolio-links">
                  <a href="../static/img/marketplace/jeep-1.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="https://buy.cars45.com/jeep-grand-cherokee-premium-brand-2019-automatic-ng-527619l" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../static/img/marketplace/jiji-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Toyota Camry 2005 Gray</h4>
                <p>₦ 1,200,000</p>
                <div class="portfolio-links">
                  <a href="../static/img/marketplace/jiji-2.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="https://jiji.ng/surulere/cars/toyota-camry-2005-gray-pfI95edLaEx56KB7yANFCM0h.html?lid=sHe3yMh4JL3TJaXS&cur_pos=2&pos=2&ads_count=119549&ads_per_page=20&page=1" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../static/img/marketplace/toyota-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>2017 Toyota Corolla</h4>
                <p>₦ 6,207,500</p>
                <div class="portfolio-links">
                  <a href="../static/img/marketplace/toyota-2.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="https://buy.cars45.com/toyota-corolla-2017-automatic-ng-639141" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>We are a Team of Data Scientists and Software Engineers with a Passion to build Scalable Solutions with Data Science and Machine Learning.</p>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
            <div class="member">
              <img src="../static/img/team/samson.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Samson Afolabi</h4>
                  <span>Data Scientist</span>
                </div>
                <div class="social">
                  <a href="https://twitter.com/samsonafo"><i class="icofont-twitter"></i></a>
                  <a href="https://www.linkedin.com/in/samson-afolabi/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="../static/img/team/temitope.jpeg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Temitope Ajisegiri</h4>
                  <span>Software Quality Assurance Engineer</span>
                </div>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.linkedin.com/in/temitope-ajisegiri-82803947/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="../static/img/team/Anita.jpeg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Anita Okoh</h4>
                  <span>Data Scientist | Data Analyst</span>
                </div>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.linkedin.com/in/anita-okoh/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="../static/img/team/samuel.jpeg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Oluwaseun Samuel Akangbe</h4>
                  <span>Software Developer</span>
                </div>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.linkedin.com/in/samuelito/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Feed Back</h2>
          <p>Hope you enjoyed your time with Tokunbo. Please drop your Feedback below or Contact any of Member of our Team.</p>
        </div>

        <div class="row no-gutters justify-content-center" data-aos="fade-up">

        </div>

        <div class="row mt-5 justify-content-center" data-aos="fade-up">
          <div class="col-lg-10">
            <form method="post" role="form" class="php-email-form " id="contact-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              
                
                <div class=" contact-fail"> There's been a problem sending your message. Please try again.</div>
                <div class="contact-success">Your message has been sent. Thank you!</div>
             
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Tokunbo</span></strong> 2021. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/venobox/venobox.min.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>